html {
	background: #FFFFFF;
}

body {
	padding: 2em;
	border-top: 7px solid rgba( 36, 142, 199, 0.5 );
	background: transparent url(img/header.png) 90% 0 no-repeat;
	color: rgba( 0, 0, 0, 0.9 );

	font-family: "Open Sans", sans-serif;
}

#main {
	font-size: 110%;
	line-height: 1.4em;
}

a {
	color: rgba( 206, 52, 40, 0.9 );
}
	a:hover, a:active, a:focus {
		border-bottom: 1px solid rgba( 206, 52, 40, 0.3 );
	}

ul {
	margin-top: 30px;
	margin-left: 2em;
	border-left: 2px solid rgba( 0, 0, 0, 0.5 );
}
	ul::before,
	ul::after {
		content: "";
		display: block;
		position: absolute;

		opacity: 0.5;
	}
		ul::before {
			margin-top: -13px;
			margin-left: -17px;

			height: 13px;
			width: 17px;

			background: transparent url(img/ul-before.png) 0 0 no-repeat;
		}
		ul::after {
			margin-left: -5px;

			height: 12px;
			width: 8px;

			background: transparent url(img/ul-after.png) 0 0 no-repeat;
	}

	li {
		line-height: 1.6em;
		padding-left: 20px;
	}
		li:before {
			content: "";
			position: relative;
			float: left;

			height: 1.5em;
			width: 18px;
			margin-left: -20px;
			margin-right: 0.3em;
			background: transparent url(img/li.png) 0 55% no-repeat;
			opacity: 0.5;
		}
			li ul {
				margin: 0 0 0 -10px;
				border-left: none;
			}
				li ul::before,
				li ul::after {
					display: none;
				}
					li ul li {
						border-left: 2px solid rgba( 0, 0, 0, 0.2 );
					}
						li ul li:first-child {
							margin-top: -7px;
							padding-top: 7px;
						}
						li ul li:last-child {
							border-left: none;
						}
							li ul li::before {
								position: relative;
								opacity: 0.2;
							}
								li ul li:last-child::before {
									background: transparent url(img/li-sub-last.png) 0 50% no-repeat;
									width: 20px;
								}

h1, h2, h3 {
	font-family: "Anonymous Pro", monospace;
}

@media only screen and (max-width:1000px) {
	body {
		background-image: none;
	}
}

@media only screen and (max-width:600px) {
	body {
		padding: 1em;
		min-width: 320px;
	}
	h1, h2 {
		margin-bottom: 0.7em;
	}
		h1 {
			font-size: 180%;
		}
		h1 span {
			display: block;
		}
	ul {
		margin-left: 1em;
	}
}